<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/master-layout}">
<head>

</head>
<body>
	<p>&nbsp;</p>
	<th:block layout:fragment="content">
		<h3>List of Products currently in our Catalogue by tek</h3>
		<br />
		<th:block style="font-size: 1em">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">item No</th>
						<th scope="col">Product Number</th>
						<th scope="col">Product Name</th>
						<th scope="col">Product UnitPrice</th>
						<th scope="col">Product DateMfd</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
				

					<tr th:each="product,iterStat: ${products}">
						<td scope="row" th:text="${iterStat.count}"></td>
						<td th:text="${product.productNumber}"></td>
						<td th:text="${product.name}"></td>
							<td th:text="${product.unitPrice}"></td>
								<td th:text="${product.dateMfd}"></td>

						<td><a th:href="@{'/product/' + ${product.pid}}">Edit</a>&nbsp;
							<a th:href="@{'/product/delete/' + ${product.pid}}">Delete</a>


						</td>
					</tr>
				</tbody>
			</table>
		</th:block>
	</th:block>
	
	<!--<footer class="footer">
            <div class="container">
                <span class="text-muted">O. Kalu : : : CS425-SWE</span><span style="float:right;" class="text-muted">&copy; November 2018</span>
            </div>
        </footer> -->

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
		integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
		crossorigin="anonymous"></script>
</body>
</html>
