<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master-layout}">
<head>

    <title>About - eLibrary - a demo spring boot webapp</title>
</head>
<body>
  <th:block layout:fragment="content">
   <div>
  <p> Welcome to our Wonderful libray , Ready to serve you for FREE through out your Life </p> </div>
<footer class="footer">
        <div class="container">
            <span class="text-muted">Tek.TEW : : : CS425-SWE</span><span style="float:right;" class="text-muted">&copy; May 2019</span>
        </div>
    </footer> 
  </th:block>
</body>
</html>
